.nav-link {
  padding: 20px;
  color: rgb(255, 228, 179);
  text-decoration: none;

}
.nav-link:hover {
  text-decoration: underline;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height:40px;
  background-image: linear-gradient(to bottom, rgba(219, 91, 32, 0.5), rgb(15, 0, 230));
  color: orange;

}
.hero {
  position: absolute;
  top: 40px;
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.imgur.com/sqxNh4I.jpg');
}
.login {
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5),
}
form {
  color: orange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: orange;
  margin-top: 100px;
  text-align: center;
}

.onclick {
  height: 100px;
  width: 100px;
  background-color: aliceblue;
}
.marker-icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  position: absolute;
}

.popup {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100px;
  width: 100px;
  background: white;
  border: 1px black solid;
  border-radius: 3px
}
.parkpop {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 40px;
  width: 100px;
  background: white;
  z-index: -2;
  border-radius: 3px;
  left: 50%;
}

.loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: blue;
  color: orange;
}

.imgcon {
  color: white;
  margin-bottom: 20px;
  background-color: rgba(0,0,0,0.4);
  width: 275px;
  height: 150px;;
  display: flex;
  flex-direction: column !important;
  text-align: center;
}
.border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 5px solid black;
}